.primary,
.secondary {
    text-align: center;
    text-transform: uppercase;
}

.action,
.content,
.heading {
    width: 100%;
    text-align: center;
}

.content {
    padding: 100px 0px;
    color: #fff;
    font-size: 2.2rem
}

.primary {
    font-size: 3rem;
}

.secondary {
    font-size: 1.6rem;
}