{
 "presets": [
 "env",
 "react"
 ],
 "plugins": [
 "syntax-dynamic-import",
 "syntax-trailing-function-commas",
 "transform-async-generator-functions",
 "transform-class-properties",
 "transform-export-extensions",
 "transform-object-rest-spread"
 ]
}