.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
}

.link {
  position: relative;
  display: block;
  float: left;
  margin-left: 20px;
  padding-bottom: 15px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  
  &:first-child {
    margin-left: 0;
  }
  
  &.isActive {
    color: #EAAC70;

    &::after {
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      width: 100%;
      height: 9px;
      color: #fff;
      background-color: #EAAC70;
    }
  }
}

.links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.linksContainer {
  position: relative;
  height: 50px;
}

.usermenu {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
}

.usermenuContainer {
  margin-right: 20px;
  padding-bottom: 15px;
}