// put your global app styles here
$button: #d08018;
// light orange ffbe69
$white: #ffffff;
$button-disabled: #094579;
$button-disabled-border: #c8c8c8;

:global(.appRow) {
  flex: 1;
}

:global(.appRowContent) {
  height: 100%;
}

:global(.appRowFixed) {
  flex: 0;
}

:global(.appScrollable) {
  overflow: hidden;
}

:global(.appVerticalPane) {
  display: flex;
  flex-direction: column;
  height: 100%;
}

:global(.button),
button {
  background-color: $button;
  border-color: $button;
  border-radius: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  height: 50px;
  padding: 20px 30px;
  min-width: 150px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &:hover {
    background-color: $button-disabled;
    border-color: white;
    color: white;
    text-decoration: none;
   }

   &:disabled {
     background-color: $button-disabled;
     border: none;
     color: $white;
     opacity: 1;
     cursor: not-allowed;

     &:hover {
      background-color: $white;
      color: $button-disabled;
     }
    }

  &:global(.secondary) {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: #000;
    display: inline-block;
    font-weight: 500;
    margin: 0;
    min-width: 0px;
    padding: 0;
    text-decoration: underline;
  }
}

:global(.checkbox) {
  width: 17px;
  height: 17px;
  box-sizing: border-box;
  border: 1px solid #979797;

  &:global(.isSelected) {
    background-color: #d08018;
  }
}

:global(.clearfix)::after {
  content: "";
  display: block;
  clear: both;
}

// this element will constrain content to a max-width and then center it beyond that via margin
:global(.contentContainer) {
  margin: 0 auto;
}

// this element will maintain left/right padding to keep content away from the edge of the page/browser
:global(.pageContainer) {
  z-index: 0;
  padding: 0 30px;
  width: 100%;
  box-sizing: border-box;
}

:global(.resetList) {
  margin: 0;
  padding: 0;
  list-style: none;
}
