// put your global app styles here
:global(.button),
button {
  padding: 0 30px;
  height: 95px;
  font-size: 2rem;
  color: #fff;
  line-height: 95px;
  text-transform: uppercase;
  white-space: nowrap;
  outline: none;
  border: none;
  border-radius: 47.5px;
  background-color: #E69329;
}